<div role="main" class="main container">
	<div class="row">
		<div class="col-12 col-md-6">
			<div class="center">
				<h1>{{ title }}</h1>
				<div class="card">
				<div class="card-body">
				{{> form }}
				</div>
				</div>
			</div>
				<br>
				{{> table }}
		</div> <!-- col -->
		<div class="col-12 col-md-6 center">
			<?xml version="1.0" encoding="utf-8"?>
			<svg id="master-artboard" viewBox="0 0 354.8387756347656 409.0322265625" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" style="enable-background:new 0 0 1400 980; width: 80%" width="354.8387756347656px" height="409.0322265625px"><rect id="ee-background" x="0" y="0" width="354.8387756347656" height="409.0322265625" style="fill: white; fill-opacity: 0; pointer-events: none;"/>
				<path class="st4" d="M514.8,118.5C513,97.9,543.6,82,578.8,87.9c35.3,5.9,72.3,37,64.7,108.1c-7.6,71.1-28.8,91.1-16.5,107.6&#10;&#9;&#9;&#9;c12.3,16.5,20,4.1,25.3,8.2c5.3,4.1-10,16.3-30.6,11.4c-20.6-4.9-35.3-37.2-31.7-94.8c3.5-57.6-61.1-89.9-61.1-89.9L514.8,118.5z" transform="matrix(1, 0, 0, 1, -338.709659576416, -56.12903213500978)"/><path class="st2" d="M564.1,395.9h-0.9c-14.8,0-26.7-12-26.7-26.7v-28.9c-7.9,3.3-16.4,5.1-25.3,5.1c-8.9,0-17.4-1.8-25.3-5.1&#10;&#9;&#9;&#9;v28.9c0,14.8-12,26.7-26.7,26.7h-0.9c-24.3,0-44.1,19.7-44.1,44.1v2.9h97h97V440C608.2,415.6,588.5,395.9,564.1,395.9z" style="fill: rgb(254, 208, 153);" transform="matrix(1, 0, 0, 1, -338.709659576416, -56.12903213500978)"/><path class="st3" d="M511.2,172.5c-41.2,0-74.6,38.7-74.6,86.4c0,37.4,20.6,69.3,49.4,81.3c7.9,3.3,16.4,5.1,25.3,5.1&#10;&#9;&#9;&#9;c8.9,0,17.4-1.8,25.3-5.1c28.8-12,49.4-43.9,49.4-81.3C585.9,211.2,552.5,172.5,511.2,172.5z" style="fill: rgb(255, 222, 171);" transform="matrix(1, 0, 0, 1, -338.709659576416, -56.12903213500978)"/><path class="st5" d="M551.8,209c0,0-32.9,36.4-64.7,45.3c0,0,14.1-9.1,24.1-19.3c0,0-28.2,16.9-54.7,27.5&#10;&#9;&#9;&#9;c-26.4,10.6-41.1,55.2-24.7,93.5c0,0-47-37-39.4-125.8c7.6-88.8,74.1-122.3,122.8-114.6c48.8,7.6,99.9,45.3,98.7,109.9&#10;&#9;&#9;&#9;c-1.2,64.7-31.7,118.1-33.5,130.5c0,0,0.6-33.9,1.2-52.3C582.4,285.2,583.5,227.8,551.8,209z" transform="matrix(1, 0, 0, 1, -338.709659576416, -56.12903213500978)"/>
			</svg>
		</div> <!-- col -->
	</div> <!-- row -->
</div> <!-- main container -->